
// Please remember that all changes here could have an effect on the
// block-editor-style.css and classic-editor-style.css files.
// The default setting for each option is shown as a comment on each.
// When you make changes please leave the defaults so that you can
// rectify any problems by restoring the default.

// COLORS
// All changes made here must also be made in inc/template-functions.php
// (aurora_block_editor_color_palette)
// Please ensure that all colours selected have sufficient colour contrast.
// A good place to start selecting a colour scheme is http://colorsafe.co/
$color__primary_background: #ODOFOE;//default #ODOFOE
$color__primary: #ODOFOE;//default #ODOFOE
$color__secondary_background: #ODOFOE;//default #ODOFOE
$color__secondary: #27243F;//default #27243F
$color__border: #40384d;//default #64c970
$color__link: #409940;//default #409940
$color__link-hover: #326344;//default #326244

$color__black: #0D0F0E;//default #0D0F0E
$color__white: #FFFFFF;//default #ffffff
$color__blue: #40384D;//default #40384D
$color__red: #A3041F;//default #A3041F
$color__green: #409940;//default #409940

// FONT FAMILIES
$font__body-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;//default -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
$font__headings-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;//-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
$font__code-font: 'Courier 10 Pitch', Courier, monospace;//default 'Courier 10 Pitch', Courier, monospace

// LINE HEIGHTS
$line__height-body: 1.8;//default 1.8
$line__height-blockquote: 1.4736842105;//default 1.4736842105
$line__height-single: 1;//default 1
$line__height-comments: 1.6153846154;//default 1.6153846154

// HORIZONTAL PADDING
// This setting is set as the left and right padding in a class .horizontal-padding
// By default this class is set to site-header, site-content & site-footer
$horizontal__padding: 5%;//default 5%

// SINGLE VERTICAL PADDING
// This setting is set as the top and bottom padding in a class .single-vertical-padding
// By default this class is set to site-branding
$padding__single: 10px;//default 20px

// DOUBLE VERTICAL PADDING
// This setting is set as the top and bottom padding in a class .double-vertical-padding
// By default this class is set to site-footer
$padding__double: 20px;//default 40px

// VERTICAL MARGIN
// This setting is set as the bottom margin in a class .vertical-margin
// By default this class is set to site-header, site-content & post
$vertical__mobile-bottom-margin: 20px;//default 40px
$vertical__desktop-bottom-margin: 30px;//default 80px
