table
{
    font-weight: 300;

    width: 100%;
    margin: 0;

    table-layout: auto;
    border-spacing: 0;
    border-collapse: collapse;

    border: 1px solid $color__border;
    border-width: 1px 0 0 1px;
}

table tbody
{
    display: table-row-group;

    vertical-align: middle;

    border-color: inherit;
}

table tbody tr:nth-child(even)
{
    color: $color__secondary;
    border-bottom: 0;
    background-color: $color__secondary_background;
}

table td
{
    font-weight: 300;

    display: table-cell;

    margin: 0;
    padding: 7px;

    text-align: left;
    vertical-align: inherit;

    border: 1px solid $color__border;
}

table tfoot
{
    display: table-footer-group;

    vertical-align: middle;

    border-color: inherit;
}

table th
{
    font-weight: 300;

    display: table-cell;

    padding: 7px;

    text-align: left;
    vertical-align: inherit;

    border: 1px solid $color__border;
}

table thead
{
    display: table-header-group;

    vertical-align: middle;

    color: $color__secondary;
    border-color: inherit;
    background-color: $color__secondary_background;
}

table tr
{
    display: table-row;

    vertical-align: inherit;

    border-color: inherit;
}
