/* Coolors Exported Palette - coolors.co/083d77-0d0221-0f084b-17bebb-ffffff */

/* HSL */
$color1: hsla(211%, 87%, 25%, 1);
$color2: hsla(261%, 89%, 7%, 1);
$color3: hsla(246%, 81%, 16%, 1);
$color4: hsla(179%, 78%, 42%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(8, 61, 119, 1);
$color2: rgba(13, 2, 33, 1);
$color3: rgba(15, 8, 75, 1);
$color4: rgba(23, 190, 187, 1);
$color5: rgba(255, 255, 255, 1);