a
{
    transition: all .2s ease-in-out;
}

a:link,
a:visited
{
    text-decoration: none;

    color: $color__link;
}

a:hover,
a:focus,
a:active
{
    text-decoration: none;

    color: $color__link-hover;
}

a:focus,
a:active
{
    outline: dotted 1px $color__black;
}

a:focus img,
a:active img
{
    outline: dotted 1px $color__white;
    outline-offset: -4px;
    @include opacity(.8);
}
